<section class="formViewMain">
    <div class="container-fluid">
        <a routerLink="/" class="goToBack"><i class="fa fa-close"></i></a>
        <div class="formViewInner">
        <div class="row">
            <div class="col">
                    <div class="formViewArea m-btm40">

                        <div class="m-btm40">
                            <h6 class="d-block mx-auto text-center color-theme  color-theme">
                                <img class="d-block mx-auto text-center " src="../../../assets/images/logo-02.png"
                                    width="150" /> Forgot Password</h6>
                        </div>

                        <form [formGroup]="forgotPasswordGroup" autocomplete="off" (ngSubmit)="forgotPasswordSubmit()">
                            <div class="">

                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email/Phone" formControlName="email" class=""
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">

                                        <mat-error>
                                            <div class="error"
                                                *ngIf="forgotPasswordGroup.get('email').hasError('required') && forgotPasswordGroup.get('email').touched">
                                                Email/Phone is required
                                            </div>
                                            <span class="text-danger"
                                                *ngIf="forgotPasswordGroup.controls['email'].hasError('pattern') && (forgotPasswordGroup.controls['email'].dirty || forgotPasswordGroup.controls['username'].touched)">Please
                                                enter valid email address or phone number</span>
                                        </mat-error>

                                </mat-form-field>

                                
                            </div>
                            <!-- <div class="">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="password" placeholder="OTP" formControlName="oTP"
                                            class="" [ngClass]="{ 'is-invalid': submitted && f.oTP.errors }" />
                                    </mat-form-field>
                                    <div *ngIf="submitted && f.oTP.errors" class="invalid-feedback">
                                        <div *ngIf="f.oTP.errors.required">OTP is required</div>
                                        <div *ngIf="f.oTP.errors.minlength">Password must be at least 6 characters
                                        </div>
                                    </div>
                                </div> -->
                            <div class="text-center">
                                <button type="submit" [disabled]='!forgotPasswordGroup.valid' class="btn btn-primary btn-submit btn-block">Submit
                                    <img src="../../../assets/images/fast-forward.png" class="text-right" />
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>