@import "../../../../styles.scss";
.formViewMain {
    
    height: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0;
    bottom: 0;
    background-image: url('../../../../assets/images/popupBg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: auto;
    
      .formViewInner {
        
        position: absolute;
        // top: 50%;
        // left: 68%;
        // margin-right: -50%;
        // transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        padding: 30px;

       .formViewArea img.d-block{
            width: 150px;
       }   
      }
      .goToBack {
        position: absolute;
        top: 5%;
        right: 5%;
        background: $color-white;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        border-radius: 50%;
        font-size: 20px;  
        z-index: 9999;
    }
}
@media (max-width: 991px) {
    .formViewInner {
        position: absolute;
        // top: 50%;
        // left: 50% !important;
        // margin-right: 0% !important;
        // transform: translate(-50%, -50%);
        // width: 90%;
        .goToBack {
            background: $color-theme;
            color: $color-white
        }
    }
}