<div class="mobileLink text-center">
    <span class="pt-5 font-clr-white">Hurry up! Get your Mobitrak Application</span>
    <div class="pt-4 pb-5">
        <img src="../../assets/images/applestore.png" class="mr-md-4">
        <img src="../../assets/images/googlestore.png">
    </div>
</div>
<div class="getInTouch ">
    <div class="container">
        <div class="row pad-top">
            <div class="col-md-4 offset-md-7 text-center">
                <div class="position-relative mb-4">
                    <span class="head">GET IN TOUCH</span>
                </div>
                <div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control d-inline" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <button class="Submit-btn btn-block"><span class="font-clr-white ml-3">Submit</span><span><img
                                src="../../assets/images/fast-forward.png"
                                class="pull-right mr-2 margin-top-6"></span></button>
                    <!-- <button class="btn btn-block Submit-btn"><span class="font-clr-white">Submit</span><span><img src="../../assets/images/fast-forward.png" class="pull-right"></span></button> -->
                </div>
            </div>
        </div>
    </div>
</div>